{{ 'tab-change.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <div class="tab-container ">
    {% for block in section.blocks %}
      <div class="tab-links">
        <a class="tab-links-link link-active" href="#tab1">HAIR CARE</a>
        <a class="tab-links-link" href="#tab2">BODY CARE</a>
      </div>

      <div class="tab-content-container">
        <div class="content-active" id="tab1div">
          <div class="alignment">
            <div class="content_alignment">
              {% for collection in block.settings.collection_list %}
                <div class="child_Parent">
                  <div class="child_collection">
                    <div class="content_part">
                      <h3 class="title__">{{ collection.title }}</h3>
                      <p class="content__">
                        Your single source in the cloud. Fusion’s advanced cloud services platform enables.
                      </p>
                      <a class="collection_url" href="{{ collection.url }}">
                        <button>SHOP NOW</button>
                      </a>
                    </div>
                    <div class="image_part">
                      <img src="{{ collection.image | image_url }}" height="360" width="250">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="content_alignment">
              {% for collection in block.settings.collection_list1 %}
                <div class="child_Parent1">
                  <div class="child_collection">
                    <div class="content_part">
                      <h3 class="title__">{{ collection.title }}</h3>
                      <p class="content__">
                        Your single source in the cloud. Fusion’s advanced cloud services platform enables.
                      </p>
                      <a class="collection_url" href="{{ collection.url }}">
                        <button>SHOP NOW</button>
                      </a>
                    </div>
                    <div class="image_part">
                      <img src="{{ collection.image | image_url }}" height="360" width="250">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-hide fade" id="tab2div">
          <div class="alignment">
            <div class="content_alignment">
              {% for collection in block.settings.collection_list2 %}
                <div class="child_Parent">
                  <div class="child_collection">
                    <div class="content_part">
                      <h3 class="title__">{{ collection.title }}</h3>
                      <p class="content__">
                        Your single source in the cloud. Fusion’s advanced cloud services platform enables.
                      </p>
                      <a class="collection_url" href="{{ collection.url }}">
                        <button>SHOP NOW</button>
                      </a>
                    </div>
                    <div class="image_part">
                      <img src="{{ collection.image | image_url }}" height="360" width="250">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="content_alignment">
              {% for collection in block.settings.collection_list3 %}
                <div class="child_Parent1">
                  <div class="child_collection">
                    <div class="content_part">
                      <h3 class="title__">{{ collection.title }}</h3>
                      <p class="content__">
                        Your single source in the cloud. Fusion’s advanced cloud services platform enables.
                      </p>
                      <a class="collection_url" href="{{ collection.url }}">
                        <button>SHOP NOW</button>
                      </a>
                    </div>
                    <div class="image_part">
                      <img src="{{ collection.image | image_url }}" height="360" width="250">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Tab",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collection Title"
    }
  ],
  "blocks": [
     {
       "name": "Collection",
       "type": "collection",
       "settings": [

         {
           "type": "text",
           "id": "title",
           "label": "Title"
         },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Mens Collections Left Side"
        },
        {
          "type": "collection_list",
          "id": "collection_list1",
          "label": "Mens Collections Right Side"
        },
        {
          "type": "collection_list",
          "id": "collection_list2",
          "label": "Women Collections Left Side"
        },
        {
          "type": "collection_list",
          "id": "collection_list3",
          "label": "Women Collections Right Side"
        }
  ]
     }
  ],
  "presets": [
    {
      "name": "Collection Tab"
    }
  ]
}
{% endschema %}

<script>
  $(document).ready(function() {
       function initializeSlick() {
           $('.content_alignment').slick({
             infinite: true,
             slidesToShow: 1,
             slidesToScroll: 1
           });
         };
         initializeSlick();
         $('.tab-links-link').click(function() {
           $('.content_alignment').slick('unslick');

           $('.tab-links-link').each(function() {
             var hashValue = this.href.split('#');
             $('a[href$="'+hashValue[1]+'"]').removeClass("link-active");
             $('a[href$="'+hashValue[1]+'"]').removeClass("is_active");
             $("#" + hashValue[1] + 'div').removeClass("content-active").addClass( "tab-hide fade" );
           });

           var hashValue = this.href.split('#');
           $('a[href$="'+hashValue[1]+'"]').addClass("link-active");
           $('a[href$="'+hashValue[1]+'"]').addClass("is_active");
           $("#" + hashValue[1] + 'div').removeClass( "tab-hide fade" ).addClass( "content-active" );

            initializeSlick();
         });
     });
</script>
